#main-header {
  img {
    width: 100%;
    height: 100%;
    margin-left: -15px;
  }
}

.return-home {
  float: right;
  margin-right: 3rem;
  display: none;
}

.bg-dark-blue {
  background: #1a1a1a;
}

.fill-card-deck-space {
  background: inherit;
  border-width: 0px;
}

#bio-blog-anchor {
  color: #fff;
  text-decoration: underline;

  &:hover {
    color: blue;
  }
}

// Bootstrap md screen width is 992px
@media (max-width: 992px) {
  #main-header {
    img {
      width: 100%;
      height: 100%;
      margin-left: 0px;
    }

    .responsive-image {
      padding-left: 0px;
      padding-right: 0px;
    }
  }
}
