#main-header {
  img {
    width: 100%;
    height: 100%;
    margin-left: -15px;
  }
}

.return-home {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 25px;
  color: inherit;
  text-decoration: none;
}

.bg-dark-blue {
  background: #1a1a1a;
}

.fill-card-deck-space {
  background: inherit;
  border-width: 0px;
}

#bio-blog-anchor {
  color: #fff;
  text-decoration: underline;

  &:hover {
    color: blue;
  }
}

#contact-body {
  height: 95vh;
}

#contact-footer {
  height: 5vh;
}

// Bootstrap md screen width is 992px
@media (max-width: 992px) {
  #main-header {
    img {
      margin-left: 0px;
    }
  }
}
