#main-header img {
  width: 100%;
  height: 100%;
  margin-left: -15px; }

.return-home {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 25px;
  color: inherit;
  text-decoration: none; }

.bg-dark-blue {
  background: #1a1a1a; }

.vertical-right-line {
  border-right: 1px solid #ffffff4f;
  height: auto; }

#post-body a {
  text-decoration: underline;
  color: #f8f9fa; }
  #post-body a:hover {
    color: #007bff; }
#post-body img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  display: block;
  margin-left: auto;
  margin-right: auto; }
#post-body blockquote {
  margin-bottom: 1rem;
  font-size: 1.25rem; }

@media (max-width: 992px) {
  #main-header img {
    margin-left: 0px; } }
